
.navbar .container .navbar_header .button .ul .li{
    float: left;
}

#icon {
  background: url(/static/imgs/logo2.png) no-repeat left center;
  background-size: contain;
  height: 50px;
}

#footer {
    clear: both;
    width: 100%;
    text-align: right;
}

#footer .container {
    width: 100%;
}

#document{
    float: left;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    width: 80%;
}

#document .container{
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#document .container .input-group{
    margin: 0px;
    padding-bottom: 1%;
    width: 100%;
}

#document .container .jumbotron {
    padding: 0px;
}

#document .container .jumbotron .media h3{
    margin: 0px;
}



#sidebar{
    float: left;
    margin: 0px;
    padding-top: 1%;
    padding-right: 1%;
    width: 20%;
}

#sidebar .container{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#