<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    {% block extrastyle %}{% endblock %}
</head>
<body>
<!--ヘッダー-->
<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse"><span
                    class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span
                    class="icon-bar"></span></button>

            <a id="icon" href="{{ url_for('index') }}"></a>
            <a class="navbar-brand" href="{{ url_for('index') }}"><span>teamH</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
                <li><a href="{{ url_for('post') }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"> 投稿</span></a></li>
                <li><a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> 更新</a></li>
                {% if current_user.is_authenticated() %}
                    <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"> Logout</span></a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in" aria-hidden="true"> Login</span></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<!--メイン-->
<div id="main">{% block main %}{% endblock %}</div>

<!--フッター-->
<div id="footer">
    <div class="container">
        <p class="copyright">
            <small>copyright &copy; Hello World All Rights Reserved.</small>
        </p>
    </div>
</div>

{% block js %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script type="text/x-mathjax-config">
		MathJax.Hub.Config({
		"HTML-CSS": {
		styles: {
		".MathJax .mo, .MathJax .mi": {color: "black ! important"}}
		},
		tex2jax: {inlineMath: [['$','$'], ['\\\\(','\\\\)']],processEscapes: true}
		});

    </script>
{% endblock js %}
{% block extrajs %}
{% endblock extrajs %}
</body>
</html>
