{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block main %}

<div class="section">
    <div class="container">
        <div align="center">
            <img src="/static/imgs/logo.png">
        </div>
        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3">
                {{ wtf.quick_form(form, form_type="basic") }}
                <p>新規登録は<a href="{{ url_for('signup') }}">こちら</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}