{% extends "base.html" %}

{% block main %}
<div id="document">
    <div class="container">
        <div class="jumbotron">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h3 class="panel-title">{{ post.title }}</h3>
                </div>
                <div class="panel-body">
                    {{ post.body | markdown }}
                </div>
                <div class="panel-footer">
                    <p class="text-right small">
                        {% if current_user == post.author %}
                            <a href="#" class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"> 削除</span>
                            </a>
                        {% endif %}
                        <a href="{{ url_for('post_comment', post_id=post.id) }}" class="btn btn-default">
                            <span class="glyphicon glyphicon-share-alt" aria-hidden="true"> 返信</span>
                        </a>
                    </p>
                </div>
            </div>

            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h3 class="panel-title">返信一覧</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        {% for comment in comments %}
                            <li class="list-group-item">
                                <div class="media">
                                    <div class="media-body">
                                        <h2 class="media-heading">{{ comment.author.username }}</h2>
                                        <span class="small">{{ comment.post_on.strftime('%c') }}</span><br>
                                        {{ comment.body | markdown }}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

    <!--サイドバー-->
<div id="sidebar">
    <div class="container">
        {% include 'profile.html' %}
        {% include 'tag.html' %}
    </div>
</div>
{% endblock %}