{% extends "base.html" %}

{% block main %}
<div class="section">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <form method="POST" class="form-horizontal" role="form">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        <div class="col-sm-2"><label for="inputEmail3" class="control-label">NAME</label></div>
                        <div class="col-sm-10">{{ form.username() }}</div>
                    </div>

                   <div class="form-group">
                        <div class="col-sm-2"><label for="inputEmail3" class="control-label">Email</label></div>
                        <div class="col-sm-10">{{ form.email() }}</div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-2"><label for="inputPassword3" class="control-label">Password</label></div>
                        <div class="col-sm-10">{{ form.pswd1() }}
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-2"><label for="inputPassword3" class="control-label"></label></div>
                        <div class="col-sm-10">{{ form.pswd2() }}</div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Sign up</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
