<div id="taglist">
    <div class="container">
        <div class="list-group">
            <a class="list-group-item" href="#"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> Culture</a>
            <a class="list-group-item" href="#"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> Geography</a>
            <a class="list-group-item" href="#"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> Health</a>
            <a class="list-group-item" href="#"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> History</a>
            <a class="list-group-item" href="#"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> Humanities</a>
            <a class="list-group-item" href="#"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> Literature</a>
            <a class="list-group-item" href="#"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> Mathematics</a>
            <a class="list-group-item" href="#"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> Nature</a>
            <a class="list-group-item" href="#"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> People</a>
            <a class="list-group-item" href="#"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> Philosophy</a>
            <a class="list-group-item" href="#"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> Science</a>
            <a class="list-group-item" href="#"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> Society</a>
            <a class="list-group-item" href="#"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> Technology</a>
        </div>
    </div>
</div>